.cart__container {
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  max-width: rem(477);
  z-index: 2;

  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: rem(477);
  background-color: getColor("white.base");
  transition: right 0.3s ease-in-out;

  &__top {
    padding: rem(56) rem(20);
  }

  &--open {
    right: 0;
  }

  &--close {
    position: absolute;
    background: transparent;
    outline: none;
    top: rem(8);
    right: rem(20);
  }

  h1 {
    font-size: rem(24);
    font-weight: 600;
    color: getColor("black.base");
    margin-bottom: rem(16);
  }

  .cart {
    gap: rem(16);
    margin-bottom: rem(15);
    border-bottom: 1px solid getColor("black.20");
    border-radius: rem(4);
    padding: rem(5);

    &__left {
      img {
        width: rem(70);
        height: rem(100);
      }
    }

    &__right {
      flex-grow: 1;
      gap: rem(16);
      flex-direction: column;

      &__top {
        &--title {
          max-width: rem(220);
          font-size: rem(14);
          font-weight: 400;
          color: getColor("black.base");
        }
        &--delete {
          cursor: pointer;
        }
      }

      &__bottom {
        &__price {
          gap: rem(2);

          &--old {
            text-decoration: line-through;
            font-size: rem(12);
            font-weight: 400;
            color: getColor("black.30");
          }

          &--new {
            font-size: rem(12);
            font-weight: 600;
            color: getColor("black.50");
          }
        }

        &--quantity {
          gap: rem(12);
          justify-content: center;
          align-items: baseline;
          padding: rem(12);
          border: 1px solid getColor("black.20");
        }
      }
    }
  }
  .total {
    box-shadow: 0px -6px 18px 0px #00000040;
    flex-direction: column;
    gap: rem(32);
    padding: rem(30) rem(20);

    &__items {
      gap: rem(4);
    }
    &__title {
      font-size: rem(16);
      font-weight: 600;
    }
    &__products {
      font-size: rem(14);
      font-weight: 400;
    }

    &__bottom__text {
      text-align: center;
      font-size: rem(12);
      font-weight: 600;
      color: getColor("black.base");
    }
  }
}
