.category {
  p {
    text-align: center;
    font-weight: 400;
    color: getColor("black.50");
    font-size: rem(24);
    margin-bottom: rem(25);
  }
  &__items {
    width: 100%;
    gap: rem(8);
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    flex-direction: column;
    align-items: center;
    gap: rem(12);

    img {
      width: rem(212);
      height: rem(264);
      border: rem(0.5) solid getColor("black.20");
    }

    a {
      text-decoration: underline;
      text-transform: uppercase;
      font-size: rem(14);
      color: getColor("black.50");
    }
  }
}

.skeleton__container {
  gap: rem(8);
}
