.dot {
  gap: rem(12);
  margin-top: rem(50);
  margin-bottom: rem(93);
  &__item {
    display: inline-block;
    width: rem(7);
    height: rem(7);
    border-radius: 50%;
    background-color: getColor("black.20");

    &--dark {
      background-color: getColor("black.base");
    }
  }
}
