.favourite {
  &__top {
    text-align: center;
    padding-top: rem(180);
    margin-bottom: rem(30);
    color: getcolor("black.base");
    font-weight: 400;
    &--title {
      font-size: rem(24);
      margin-bottom: rem(12);
    }
    &--subtitle {
      font-size: rem(16);
    }
  }

  &__content {
    gap: rem(12);
    overflow: hidden;

    &__item {
      font-size: rem(12);

      &__info {
        margin-bottom: rem(3);
        font-weight: 400;

        &--name,
        &--price {
          color: getColor("black.50");
        }
      }
      &--color {
        color: getColor("black.30");
      }
    }
  }

  &__content::before {
    content: url("/CaretLeft.png");
  }

  &__content::after {
    content: url("/CaretRight.png");
  }
}
