.gift {
  gap: rem(20);
  padding-top: rem(90);
  padding-bottom: rem(90);
  flex-wrap: wrap;
  border-top: 2px solid getColor("black.30");
  border-bottom: 2px solid getColor("black.30");
  &__item {
    flex-direction: column;
    gap: rem(20);
    font-weight: 400;
    color: getColor("black.50");

    &--title {
      p {
        font-size: rem(24);
      }
    }

    &--img {
      img {
        width: 100%;
      }
    }

    &--desc {
      p {
        font-size: rem(14);
      }
    }

    &--more {
      a {
        color: getColor("black.50");
      }
    }
  }
}
