.hero {
  background: url("/home_hero.png") no-repeat center center/cover;
  min-height: rem(812);
  width: 100%;

  &__text {
    padding-top: rem(275);
    color: getColor("white.base");
    text-align: center;

    h1 {
      margin-bottom: rem(14);
      font-size: rem(46);
      font-weight: 400;
    }

    div {
      margin-bottom: rem(30);
      p {
        font-size: rem(24);
        font-weight: 400;
      }
    }

    button {
      text-decoration: none;
    }
  }
}
