.hero {
  background: url("/home_hero.png") no-repeat center center/cover;
  min-height: rem(812);
  width: 100%;
  text-align: center;

  &__text {
    color: getColor("white.base");
    flex-direction: column;
    padding-left: rem(200);
    justify-content: center;

    h1 {
      margin-bottom: rem(14);
      font-size: rem(46);
      font-weight: 400;
    }

    div {
      margin-bottom: rem(30);
      p {
        font-size: rem(24);
        font-weight: 400;
      }
    }

    button {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero__text {
    padding-left: rem(100);
  }
}
