.review {
  gap: rem(136);
  flex-wrap: wrap;

  &__left {
    align-self: center;
    flex-direction: column;
    font-weight: 400;
    gap: rem(40);
    &__top {
      p {
        font-size: rem(16);
      }
    }

    &__middle {
      max-width: rem(406);
      img {
        margin-bottom: rem(15);
      }
      p {
        font-size: rem(24);
      }
    }

    &__bottom {
      p {
        font-size: rem(14);
      }
      &--underline {
        text-decoration: underline;
      }
    }
  }

  &__right {
    img {
      max-width: 100%;
    }
  }
}

.review::before {
  content: url("/CaretLeft.png");
}

.review::after {
  content: url("/CaretRight.png");
}

@media screen and (max-width: 768px) {
  .review::before {
    content: "";
  }
  .review::after {
    content: "";
  }
}
