.subheading {
  justify-content: center;
  ul {
    list-style: none;
    flex-wrap: wrap;
    li {
      padding: rem(20) rem(12);
      cursor: pointer;
      a {
        text-decoration: none;
        color: getColor("black.50");
        font-size: rem(12);
      }

      &:hover {
        background-color: getColor("black.20");
      }
    }
    li:last-child {
      a {
        color: getColor("red.base");
      }
    }
  }
}

// @media screen and (max-width: 768px) {
//   .subheading {
//     justify-content: start;
//     // padding-left: rem(8);
//     ul {
//       flex-direction: column;
//       align-items: start;
//     }
//   }
// }
